body {
    background-color: rgb(2, 2, 56);
   background-image: url(OIP.webp)

}
p {color:whitesmoke;
background-color: black;}
a {color:whitesmoke;
background-color: black;}

h1 {color:whitesmoke;
background-color: black;}
h3 {color:whitesmoke;
background-color: black;}

